
<div class="prd-area">
<!--
<div>
<%= render 'layouts/header' %>
</div><br>
-->

<div class ="main-area">
  <div class="c-area">
    <%= render 'menu' %>
  </div>
  <div class="c-area">
          <div class="prd-area">
	<h1>シリアル詳細(手動登録/変更)</h1>
	<%= render 'form' %>
	</div>
</div>
</div>