.area {
  /* boxレイアウトの指定 */
  display: box;
  display: -webkit-box;
  display: -moz-box;

  /* 配置したボックスを左右中央寄せにする */
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;

}
.item {

  text-align: center;
  color: #444;
  margin: 10px;
}


div.header {
  margin-left:-7px;
  margin-top:-7px;
  width:100%;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
  background-color:black;
  font-size:50%;
  color:white;
  text-align:left;
}

table {
 margin-left: auto;
 margin-right: auto;
 font-size:70%;
 th {
  background-color:gray;
  color:white;  
}
 td {
  border:1;
 }
}




