div.header {
  margin-left:-7px;
  margin-top:-7px;
  width:100%;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:10px;
  background-color:black;
  font-size:50%;
  color:white;
  text-align:left;
}

table {
 margin-left: auto;
 margin-right: auto;
 font-size:70%;
 th {
  background-color:gray;
  color:white;  
}
}

table.list {
  font-size:60%;
}

div.content-top {
  font-size:70%;
}

fieldset {
  border:0px
}

div.sub-menu {
  font-size:70%;
}

div.container {
  float: left;
  display: flex;
  display: -moz-flex;
  display: -o-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
}

