<!DOCTYPE html>
<html>
<head>
  <title>NewEcSite</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<style type="text/css">
<!--
検索/検索結果一覧
-->
    .prd-area{
    width: 1400px;

  }
  .menu-width{
    width: 200px;
  }
    .c-area{
    float: left
  }
  .main-area{
    width: 1200px
  }
    .p-area{
    	min-width: 700px;
      max-width: 1400px;
    	margin:0 auto;
  	}
  	th{
 		text-align: right;
	}
  	.center{
  		margin: 0 auto;
 	}
	.result-table{
		margin: 0 auto;
		border-collapse: collapse;
		text-align:center;
		width: auto;
    }
 	 .border{
    	margin: 0 auto;
    	border-bottom:solid;
    	border-width:1px;
    	width:auto;
  	}
    .result-table th {
	    background-color: #999999;
	    color:white;
	    white-space: nowrap;
		text-align:center;
		background-color: #999999;
		color:white;
		text-align: center;
	}
	table.result-center{
		margin: 0 auto;
		min-width:190px;
	}
  table.button-center{
    margin: 0 auto;
  }
  td.button{

    float:left;
    margin-left:20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
</style>
</body>
</html>
